.container-list {
  margin-top: 50px;
}

.container-item {
  -webkit-box-shadow: -4px 1px 30px -1px rgba(0, 0, 0, 0.96);
  -moz-box-shadow: -4px 1px 30px -1px rgba(0, 0, 0, 0.96);
  box-shadow: -4px 1px 30px -1px rgba(0, 0, 0, 0.96);
  /* width: 60%; */
}
